.footer{
    margin-top: 100px;
    margin-bottom: 50px;
    justify-self: center;
    border-radius: 12px;
    border: solid 2px #262626;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    padding: 100px 113px 40px 113px;
    

    
}